<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ upper }}</td>
          <td>Uppercase</td>
          <td>{{ upper | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ lower }}</td>
          <td>Lowercase</td>
          <td>{{ lower | lowercase}}</td>
        </tr>
        <tr>
          <td>{{ slice }}</td>
          <td>Slice:6</td>
          <td>{{ slice | slice:6 }}</td>
        </tr>
        <tr>
          <td>{{ slice }}</td>
          <td>Slice:0:3</td>
          <td>{{ slice | slice:0:3}}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'2.0-0'</td>
          <td>{{ PI | number:'2.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ percent }}</td>
          <td>percent </td>
          <td>{{ percent | percent }}</td>
        </tr>
        <tr>
          <td>{{ percent }}</td>
          <td>percent:'3.0-2'</td>
          <td>{{ percent | percent:'3.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>Currency</td>
          <td>{{ salary | currency }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>Currency:'AR $':'symbol-narrow':'.0-0'</td>
          <td>{{ salary | currency:'AR $':'symbol-narrow':'.0-0' }}</td>
        </tr>
        <tr>
          <td>Objeto</td>
          <td>JSON</td>
          <td><pre>{{ poke | json }}</pre></td>
        </tr>
        <tr>
          <td>{{ asynchronus }}</td>
          <td>async</td>
          <td>{{ asynchronus | async }}</td>
        </tr>
        <tr>
          <td>{{ dates }}</td>
          <td>Date</td>
          <td>{{ dates | date }}</td>
        </tr>
        <tr>
          <td>{{ dates }}</td>
          <td>date:'short'</td>
          <td>{{ dates | date:'short' }}</td>
        </tr>
        <tr>
          <td>{{ dates }}</td>
          <td>date:'d - MMMM'</td>
          <td>{{ dates | date:'d, MMMM y'}}</td>
        </tr>
        <tr>
          <td>{{ dates }}</td>
          <td>
            date:'d - MMMM':'':{{ language }}
            <br>
            <button (click)="language='es'" class="mr-1 btn btn-outline-primary">Español</button>
            <button (click)="language='en'" class="mr-1 btn btn-outline-secondary">Inglés</button>
            <button (click)="language='fr'" class="mr-1 btn btn-outline-success">Francés</button>
          </td>
          <td>{{ dates | date:'d, MMMM y':'':language}}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>Capitalized</td>
          <td>{{ name | capitalized }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>
            Password:{{ activated }}
            <br>
            <button
              (click)="activated = !activated"
              class="btn btn-outline-primary">Activate / Deactivate </button>
          </td>
          <td>{{ name | hiden:activated }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3 class="mt-4">DOM Seguro</h3>
<hr>
<div class="row mb-5">
  <div class="col">
    <iframe width="560" height="315" [src]="videoUrl | safeDOM" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>